/*.card {*/
/*    border: 1px solid #f3f3f3;*/
/*    padding: 30px;*/
/*    width: 220px;*/
/*    border-radius: 40px;*/
/*    margin-right: 30px;*/
/*    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;*/
/*}*/

/*.card:hover {*/
/*    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);*/
/*    transform: translateY(-6px);*/
/*}*/
/*.favorite {*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*}*/

/*.card h5 {*/
/*    font-size: 15px;*/
/*}*/
/*.card span {*/
/*    font-size: 15px;*/
/*    opacity: 0.5;*/
/*    text-transform: uppercase;*/
/*}*/
/*.card-column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*b {*/
/*    font-size: 15px;*/
/*}*/
/*.card-sneak {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-content:  center;*/
/*}*/