body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sysytem-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1300px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #f4f4f4;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  cursor: pointer;
}
.headerRight div{
  padding: 13px;
}

h3, p {
  margin: 0;
  text: uppercase;
}

img {
  margin-right: 15px;
}

li {
  list-style-type: none;
  margin-right: 30px;
}
.content {
  padding: 40px;
}
.content-block {
  display: flex;
  align-items:  center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.input-search {
  border: none;
  padding: 10px;
  padding-right: 60px;
  font-size: 16px;
  width: 200px;
}
.card-flex {
  display: flex;
  flex-wrap: wrap;
  padding-left: 75px;
}
.card {
  border: 1px solid #f3f3f3;
  padding: 30px;
  /*width: 200px;*/
  border-radius: 20px;
  overflow: hidden;
  margin: 15px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-6px);
}
.favorite {
  position: absolute;
  cursor: pointer;
}

.card h5 {
  font-size: 15px;
}
.card span {
  font-size: 15px;
  opacity: 0.5;
  text-transform: uppercase;
}
.card-column {
  display: flex;
  flex-direction: column;
}
b {
  font-size: 15px;
}
.card-sneak {
  display: flex;
  justify-content: space-between;
  align-content:  center;
}
.plus {
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 4px;

}

.search-block {
  border: 1px solid #f3f3f3;
  display: flex;
  border-radius: 13px;
  padding: 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 0px 30px ;
}
.drawer, .items {
  flex: 1;
  overflow: auto;
}
.drawer, .card-drawer {
  margin: 0;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  border: solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.cartItemImg {
  height: 70px;
  width: 70px;
}
.p-cart {
  margin-bottom: 5px;
  font-size: 16px;
}
.cart-remove {
  margin-right: 40px;
}
.removeBtn {
  opacity: 0.5;
  cursor: pointer;
}
.removeBtn:hover {
  opacity: 1;
}
.cart-drawer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cartEmpty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.cartEmpty p {
  font-size: 20px;
  margin-bottom: 20px;
  color: darkgray;
}

.cartTotalDiv {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}

.cartTotalLi {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.greenButton:hover {
  opacity: 0.5;
}
.registration {
  background: #ffffff;
  width: 600px;
  height: 550px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}
.avtorization {
  background: aquamarine;;
  width: 500px;
  height: 360px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avtorization input {
  width: 350px;
  height: 32px;
  color: #787878;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #787878;
  padding: 4px;
  outline: none;
  margin: 20px;
}
.avtorization input::placeholder {
  color: #ccc;
  font-size: 20px;
}
.avtButton {
  width: 200px;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.avtButton:hover {
  opacity: 0.5;
}
